hr {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.invoice-total {
    padding-right: 10px;
}
.testing-function {
    text-align: center;
    color: royalblue;
    font-style: italic;
}
.invoice-name-testing {
    color: brown;
}
.invoice-name-testing {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}