.form-container {
    flex: 0 0 45%;
}

input,
buton {
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
}

input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    width: 50%;
}

button {
    margin-top: 10px;
    padding: 1rem;
    background-color: rgb(228, 87, 87);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    display: block;
    margin: auto;
}
button:hover {
    opacity: 0.7;
}
button:focus {
    border-radius: 3px;
}